.menu {
  display: flex;
  border-radius: 10px;
  justify-content: space-between;
  width: 100%;
  background-color: wheat;
  height: 80px;
  margin-bottom: 25px;
}
.title {
  display: flex;
  align-items: center;
  font-size: 35px;
  color: indianred;
  padding-left: 35px;
}
.logo-header {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
}
.logo {
  height: 55px;
  width: 55px;
}
.menu-item {
  display: flex;
  width: 60%;
  margin-right: 10px;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}
.menu-item a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 22px;
  color: black;
  padding: 10px 35px;
}
.menu-item a:hover {
  border-radius: 30px;
  color: whitesmoke;
  background-color: tan;
}
